body {
  font-family: 'Roboto', sans-serif;
  background-color: #E8F5F8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #007BFF;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 30px auto;
  min-width: 500px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  flex-basis: 45%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, input, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

button {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.arrival-time-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  margin: 10px 0;
  padding: 20px;
  display: flex; 
  align-items: center;
  height: 15px;
}

.arrival-times-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  flex-basis: 45%;
  min-height: 400px;
}

.arrival-time-spacing {
  margin-left: 10px;
}

footer {
  background-color: #007BFF;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.header, .footer {
  background-color: #75a7ff;
  color: #fff;
  text-align: center;
  min-width: 700px;
  padding: 20px;
  border-radius: 20px; /* add this line to give rounded corners */
}

.button-container button {
  background-color: #75a7ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #5a8ad8; /* adjust as needed for hover effect */
}